*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    background: linear-gradient(#200016 , #10001f);
    height: 100vh;
}


.head {
    z-index: 5;
    width: 95%;
    position: absolute;
    margin: 30px ;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    
}
h2{
    font-size: 40px;
    transition: 0.3s;
}
h2:hover{
    scale: 1.1;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li {
    list-style: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}
ul li:hover {
    background-color: #fff;
    scale: 1.07;
    color: #200016 ;
}
.image{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.image::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    background: linear-gradient(to top ,#200016 , transparent);
}
.image img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(70px) ;

}
h1{

    font-size: 25px;
    color: white;
   transform: translateY(-150px) ;
}
.content{
    color: white;
    padding: 30px;
}
h3{
        margin: 20px;
        font-size: 30px;
}
p{
    margin: 20px;
}